# Custom for IntelliJ
.idea/
*.iml

# Folder created by jest --coverage cmd
coverage

# Protection for committing .env file with sensitive environment variables
.env

node_modules
.vscode
npm-debug.log
